{% schema %}
{
    "name": "Aleem Banner",
    "settings": [
        {
            "type":"text",
            "id": "logo_headline",
            "label": "Logo Headline",
            "default": "TISSO VISON"
        },
        {
            "type":"text",
            "id": "logo_tagline",
            "label": "Logo Tagline",
            "default": "Find the ideal gift for your loved ones."
        },
        {
            "type":"text",
            "id": "button_text_top",
            "label": "Button Text Top",
            "default": "CHOOSE GIFT"
        },
        {
            "type":"url",
            "id": "button_url_top",
            "label": "Button URL Top",
            "default": "/"
        }
    ],
    "presets": [
        {
            "name": "Aleem Banner",
            "category": "Customer Banner"
        }
    ]
}
{% endschema %}

<section class="aleem-banner">
    <div class="aleem-banner__content">
        <a href="#">{{ section.settings.logo_headline}}</a>
        <p>{{section.settings.logo_tagline}}</p>
        {% comment %}
        <a href="{{section.settings.button_url_top}}">{{section.settings.button_text_top}}</a>
        {% endcomment %}
    </div>
</section>

<style>
.aleem-banner{
    background: #F5F5F5;
}
</style>