{% schema %}
{
  "name": "Aleem Products Grid",
  "settings": [
    {
    "type": "product",
    "id" : "product_1",
    "label" : "Product 1"
    },{
    "type": "product",
    "id" : "product_2",
    "label" : "Product 2"
    },{
    "type": "product",
    "id" : "product_3",
    "label" : "Product 3"
    },{
    "type": "product",
    "id" : "product_4",
    "label" : "Product 4"
    },{
    "type": "product",
    "id" : "product_5",
    "label" : "Product 5"
    },{
    "type": "product",
    "id" : "product_6",
    "label" : "Product 6"
    },
  ],
  "presets": [
    {
    "name" : "Aleem Products Grid",
    "category" : "Custom Products Grid"
    }
  ]
}
{% endschema %}

<section>
  <div>
    <p>Tisso vison in the Wild</p>
    {% for i in (1..6) %}
      {% assign product_id = 'product_' | append: i %}
      {% assign product = section.settings[product_id] %}
      {% if product %}
        {% assign product = all_products[product] %}
        <div data-product="{{ product.handle }}">
          <a href="#" class="product-grid__link">
            <img
              src="{{ product.images.first | shopify_asset_url }}"
              alt="{{ product.title }}"
              width="100%"
              height="100%"
            >
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
